<div class="ae-content-wrapper" style="@ContentWrapperStyle">
    @if (ShowPlaceholder)
    {
        <div id="ae-placeholder" class="ae-placeholder" style="@PlaceholderStyle">@Placeholder</div>
    }
    <div id="ae-content"
         class="ae-content"
         role="textbox"
         contenteditable="true"
         style="@ContentStyle"
         tabindex="0"
         @oninput="OnInputAsync"
         @onfocus="HandleFocusAsync"
         @onblur="HandleBlurAsync"
         @attributes="GetContentAriaAttributes()"
         aria-describedby="@ContentDescribedBy"
         @ref="_contentRef">
        @((MarkupString)Text)
    </div>
</div>
