<div class="ae-editor"
     style="@ContainerStyle"
     role="group"
     @attributes="GetContainerAriaAttributes()">
    <CascadingValue Value="_aeContext" IsFixed="true">
        <AllyariaToolbar Region="ToolbarRegion.Toolbar"
                         ToolbarStyle="@ToolbarStyle"
                         StatusStyle="@StatusStyle"
                         AeLabels="AeLabels"
                         JsInterop="@_interop"/>

        <AllyariaContent Text="@Text"
                         TextChanged="@TextChanged"
                         Placeholder="@Placeholder"
                         ContentWrapperStyle="@ContentWrapperStyle"
                         ContentStyle="@ContentStyle"
                         PlaceholderStyle="@PlaceholderStyle"
                         AutoFocus="@AutoFocus"
                         AeLabels="AeLabels"
                         OnFocus="@OnFocus"
                         OnBlur="@OnBlur"
                         JsInterop="@_interop"/>

        <AllyariaToolbar Region="ToolbarRegion.Status"
                         ToolbarStyle="@ToolbarStyle"
                         StatusStyle="@StatusStyle"
                         AeLabels="AeLabels"
                         JsInterop="@_interop"/>
    </CascadingValue>
</div>
